.client-list-container {
  background-color: #fff;
  border: 7px solid #4a6699;
  border-radius: 10px;
  margin: auto;
  max-width: 800px;
  padding: 10px;
}

.client-list-container header {
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: space-between;
}

.client-list-container li {
  border-bottom: 1px solid rgb(163, 153, 153);
  border-radius: 3px;
  padding: 10px;
}

.client-list-container li:hover {
  background-color: #4a6699;
  color: #fff;
}

.status-inativo {
  color:rgb(163, 153, 153)
}

.filter-container {
  display: flex;
}

.status-container {
  display: flex;
  margin-left: 1rem;
}

.status-container label {
  margin: 0 0.2rem;
}