.client-list-container {
  background-color: #fff;
  border: 7px solid #4a6699;
  border-radius: 20px;
  margin: auto;
  max-width: 1000px;
  min-height: 500px;
  padding: 25px;
}

.client-list-container header {
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: space-between;
}

.indice-list {
  font-weight: 900;
  font-style: italic;
}

.client-list-container li {
  border-bottom: 1px solid rgb(163, 153, 153);
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

.status-inativo {
  color:rgb(163, 153, 153)
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
}

.filter-container div {
  margin: 0.3rem;
}

.status-container {
  display: flex;
  margin-left: 1rem;
}

.status-container label {
  margin: 0 0.2rem;
}