* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0
}

body, html {
  background-color: rgb(204, 211, 245);
}

input {
  border: 1px solid black;
  border-radius: 4px;
  padding: 0 5px;
}

a:hover {
  text-decoration: none;
}